/* HeroSection.css */
.full-width-line {
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    #4f46e5,
    #d63a91,
    #a855f7
  ); /* Gradient colors */
  border-radius: 2px;
}
